<style>

  body {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
  }

.message {
  max-width: 400px;
}

p {
  text-align: center;
}

</style>


<div class="container">

<div class="message">
<p>If you are seeing this page it means that something went wrong and your post couldn't be saved. Make sure that you enter both title and body of the post. Please go back to the homepage and try again.</p>
</div>

</div>
