<div class="wrapper">

<div class="post-details-box">
<h2>Post Details</h2>

<br>

<h3>Title:</h3>
<br>
<h3>Post:</h3>
<br>
<a href="">Delete this post</a>
</div>

<div class="edit-post-box">
<h2>Edit this post</h2>

<p>form goes here</p>

</div>

</div>

<hr>

<div class="comments-box">

<div class="comment-list">
<h3>Comments</h3>
<p>comments go here</p>
</div>

<div class="new-comment">
<h3>Add a new comment</h3>
<p>form goes here</p>
</div>


</div>
